@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Roboto:wght@100;300;400&family=Sen:wght@700&display=swap');

* {
    box-sizing: border-box;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #FFB900;
}

a {
    text-decoration: none;
}

.btn {
    border: none;
    display: inline-block;
    padding: 0 16px;
    min-width: 118px;
    line-height: 50px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 999px;
    background: #171100;
}


.btn:hover {
    opacity: 0.9;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #FFFCF4;
    z-index: 1;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5F5B53;
    position: relative;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    display: block;
}

.header .signup-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

.hero {
    padding: 56px 0 65px;
    background-color: #FFFCF4;
    display: flex;
}

.body {
    display: flex;
    justify-content: space-between;

}

.body .media-block {
    width: 48%;
    position: relative;
}



.media-content .media-block .img {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.body .hero-summary {
    position: absolute;
    width: 270px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    bottom: 48px;
    left: 300px;
    padding: 24px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item+.item {
    margin-top: 22px;
}

.hero-summary .item:first-child .icon {
    background-color: #FCEFFF;
}

.hero-summary .item:nth-child(3) .icon {
    background-color: #EBEAFF;
}

.hero-summary .item .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #FFF9E8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .info .lable {
    color: #5F5B53;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    /* 185.714% */
}

.hero-summary .info .title {
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    /* 166.667% */
}

.body .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.content-block .heading {
    color: #171100;
    font-family: Sen;
    font-size: 58px;
    font-weight: 700;
    line-height: 68px;
    /* 117.241% */
    letter-spacing: -1.16px;
}

.content-block .decs {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 22px 0;
    /* 166.667% */
}

.content-block .cta-group {
    display: flex;
    margin: 38px 0 48px;
    align-items: center;
}

.hero-cta {
    min-width: 180px;
    background-color: var(--main-color);
    line-height: 64px;
    height: 64px;

}

.content-block .watch-video {
    display: flex;
    margin-left: 28px;
    border: none;
    background-color: #FFFCF4;

}

.content-block .span {
    color: #171100;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
}

strong {
    color: #171100;
    font-family: Sen;
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    /* 122.727% */
}

strong:nth-child(2) {
    margin-left: 28px;
}

.popular {
    padding: 135px 0 200px;
}

.popular-top {
    padding: 65px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .info .heading {
    color: #171100;
    font-family: Sen;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.76px;
    margin-bottom: 16px;
}



.popular-top .info .decs {
    color: #5F5B53;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.popular-top .control .control-btn-left {
    width: 40px;
    height: 40px;
    border: 1px solid #FFB900;
    border-radius: 50%;
    background-color: #fff;
}

.popular-top .control .control-btn-left i {
    color: #FFB900;
}

.popular-top .control .control-btn-right {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #FFB900;
    margin-left: 10px;
}

.popular-top .control .control-btn-right i {
    color: #fff;
}

.popular-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

.box {
    width: 370px;
    min-height: 466px;
    border-radius: 12px;
    background: #FFF;
}

.shadow {
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.boder {
    border: 1px solid #E2DFDA;
}

.content-padding {
    padding: 0 22px 22px;
}

.box .headingImg {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-bottom: 16px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-course-name {
    display: flex;
    align-items: center;
    gap: 6px;
}

.box .flex .course-name {
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 6px;
}

.box .flex img {
    width: 18px;
    height: 18px;
    color: #FEA31B;

}

.box .flex .stars {
    color: #FEA31B;
    font-size: 16px;
    font-weight: 400;
}

.box .decs {
    width: 326px;
    color: #5F5B53;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 22px;
}

.box .price {
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    /* 166.667% */
}

.box button {
    border: none;
    background-color: #FFB900;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.feedback {
    width: 1440px;
    min-height: 380px;
    background: #2E2100;
    padding: 96px 0;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

.customer-info {
    flex: 35%;
}

.customer-info .name {
    margin-top: 18px;
    color: #F7F7F7;
    font-family: Sen;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

.customer-info .student {
    margin-top: 4px;
    color: #BFBCB2;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    /* 185.714% */
}

.customer-info .icon {
    margin-top: 28px;
}

.message {
    flex: 65%;
}


.message .judge {
    margin-left: 30px;
    width: 740px;
    color: #FFF;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    line-height: 40px;
    /* 153.846% */
}

.feature {
    padding: 200px 0;
}

.feature-top {
    display: flex;
    align-items: center;
    width: 1170px;
    height: 438px;
    background: #FFF;
}

.img-container {
    width: 50%;
}

.img-container .fe-2 {
    margin-left: 30px;
    margin-bottom: 33px;
}

.feature-learner {
    padding-left: 130px;
    width: 50%;
}

.feature-learner .learner-title {
    color: #171100;
    font-family: Sen;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    /* 126.316% */
    letter-spacing: -0.76px;
    width: 470px;
}

.feature-learner .learner-decs {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    width: 458px;
    margin-top: 16px;
}

.feature-learner .signUp {
    background-color: #FFB900;
    margin-top: 32px;
}

.feature-body {
    display: flex;
    align-items: center;
    padding-top: 200px;
}

.feature-lesson {
    padding-right: 130px;
}

.feature-lesson .lesson-heading {
    color: #171100;
    font-family: Sen;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    /* 126.316% */
    letter-spacing: -0.76px;
    width: 570px;
}

.feature-lesson .lesson-decs {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    width: 570px;
    margin-top: 16px;
}

.feature-lesson .joinNow {
    background-color: #FFB900;
    margin-top: 32px;
}

.blog {
    background: #FFFCF4;
    padding: 96px 0;
}

.blog .blog-heading {
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    /* 126.316% */
    letter-spacing: -0.76px;
}

.blog .blog-decs {
    width: 448px;
    margin-left: 50%;
    transform: translateX(-50%);
    color: #696262;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 16px;
}

.blog-container {
    display: flex;
    margin-top: 55px;
    align-items: center;
    justify-content: space-between;
}

.blog-info {
    padding: 0 20px 28px;
    margin-top: 20px;
}

.blog-item {
    width: 370px;
    min-height: 467px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog-item img {
    width: 370px;
    height: 250px;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}

.blog-info .time {
    position: relative;
    display: flex;
    align-items: center;
    color: #5F5B53;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 12px;
    /* 185.714% */
}



.blog-info .item-decs {
    width: 330px;
    color: #171100;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 12px;
    /* 175% */
}

.blog-info .time::before {
    content: '';
    width: 6px;
    height: 6px;
    display: inline-block;
    background-color: #FFB900;
    border-radius: 50%;
    margin-right: 4px;
}

.blog-info .time::after {
    position: absolute;
    content: "";
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
    left: 0;
    bottom: 0;
}

.blog-info .btn {
    margin-top: 12px;
}

.blog-info .btn:hover {
    background-color: #FFB900;
    cursor: pointer;
}

.blog-dots {
    display: inline-block;
    margin-top: 38px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.footer {
    background: #2E2100;
    min-height: 428px;
    padding: 96px 0 28px;
}

.footer-container {
    display: flex;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.company-heading,
.support-heading,
.address-heading {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 14px;
    /* 175% */
}

.footer-box .lesson-heading {
    position: relative;
    color: #FFF;
    font-family: Sen;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 18px;
    /* 141.667% */
}

.footer-box .lesson-heading.dot::after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 5.5px;
    height: 5.5px;
    bottom: 8px;
    margin-left: 5px;
    background: #FFB900;
    border-radius: 50%;
}

.footer-box .lesson-decs {
    width: 267px;
    color: #BFBCB2;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 18px;
    /* 185.714% */
}

.footer-box .lesson-img {
    width: 111px;
    height: 15px;
}

.footer-box:nth-child(2) {
    margin-left: 145px;
}

.footer-box:not(.footer-box:first-child) {
    margin-left: 130px;
}



.support-line,
.address-line,
.company-line {
    width: 130px;
    height: 1px;
    background: #59554B;
    margin-bottom: 28px;
}

.support-decs,
.address-decs,
.company-decs {
    color: #BFBCB2;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    /* 185.714% */
}

.address-bold {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 14px;
}

.footer-line {
    width: 1170px;
    height: 1px;
    background: #59554B;
    text-align: center;
    margin: 38px 0 28px;
}

.copyright {
    color: #807D74;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    /* 185.714% */
}